*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(244, 236, 222);
}
.container {
    max-width: 1190px;
    padding: 80px;
    margin: 0 auto;
    

}
.products-con {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        grid-gap:0.5rem;
}
.products-item{
    background-color: white;
  
    box-shadow: 0 0 5px rgba(49, 41, 170, 0.371);
    transition: 0.3s;   
    outline: 1px solid white;
}
.products-item:hover{
    outline: 1px solid #381b90;
}
.products-detail{

    padding: 1rem;
}
.products-img img{
    width: 100%;
}

.products-price{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
.products-right span{
    font-size: 12px;

}